body {
  margin: 0;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.leaflet-container {
  width: 100%;
  height: 100vh;
}

.info{
  text-align: right!important;
}

body {
  margin: 0;
  text-decoration: none;
  background-color: rgb(248, 248, 248);
  padding: 0;
}
.test{
  background-color: #AAD3DF;
  margin-top: -53px;
}
.icon{
  width: 18px;
  margin-left: 6px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* first navbar */

/* .main-nav:hover{
  color: yellow;
  
  }
  
  .main-nav-active{
    color: yellow;
    text-decoration: none;
  }
  .main-nav-active:hover,
  .main-nav-active:focus{
    text-decoration: none;
  }
  header{
    background: #000;
  }
  a:hover, 
  a:focus
  {
    text-decoration: none;
  }
  li{
    text-decoration: none;
    list-style: none;
  }
  li:focus{
    text-decoration: none;
  }

  a{
    color: #fff;
  }
  a:focus{
    text-decoration: none;
  }

  header{
    right: 0;
    float: right;
    height: 100vh;
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
  }
  .menu{
    height: 33vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  } */

  /* end of first navbar */
.menu{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



  .namayeshcomponent{
    background-color: #AAD3DF;
    height: 100vh;
    width: 85vw;
    position: fixed;
  }

  .leaflet-container {
    width: 100%;
    height: 90vh;
  }

  .info{
    text-align: right!important;
  }
  
  .leaflet-popup-content-wrapper{
    text-align: right!important;
  }
  .leaflet-popup-content-wrapper, .leaflet-popup-tip{
    font-size: 14px;
  } 

.filter{
  background-color: white;
  padding: 20px;
  margin: 5px;
  position: relative;
  top: 0;
  /* width: 400px;
  left: 48%; */
  max-width: 384px;
  float: right;
  margin-right: 250px;
} 
.filter div{
display: flex;
align-items: center;
justify-content: space-around;
flex-direction: row-reverse;
} 
  .box{
    text-align: center;
  }
  label{
    margin-bottom: 0px!important;
  }
  input{
    margin-right: 10px;
  }


  .detailbtn{
    background-color: #fff;
    border: 1px solid rgb(172, 8, 172);
    padding: 5px 20px;
    color: rgb(172, 8, 172);
    border-radius: 3px;
    transition: 0.5s;
    font-size: 15px;
  }
  .detailbtn Link{
    color: #fff;
  }

.detailbtn:hover{
  background-color: rgb(172, 8, 172);
  color: #fff;
  outline: none;
}

.detailbtn a{
  color: rgb(172, 8, 172);
}

.detailbtn:hover > a{
  color: #fff;
}
.detailbox{
  width: 30%;
  margin: auto;
  border: 1px solid rgb(114, 114, 114);
  box-shadow: 0 2px 2px rgb(114, 114, 114);
  padding: 30px 30px;
}
.backbtn{
  padding: 5px 20px;
  background-color: rgb(172, 8, 172);
  outline: none;
  color: #fff;
  border: none;
  transition: 0.5s;
  border-radius: 3px;
  font-size: 17px;
}

.backbtn:hover,
.backbtn:focus{
  background-color: rgb(199, 35, 199);
}
.formbox{
  width: 100%;
  height: 120px;
  border-bottom: 1px solid #000;
  margin-top: -48px;
}

.formbox input{
width: 330px;
border-radius: 3px;
border: 1px solid rgb(141, 141, 141);
padding-left: 9px;
outline:none;
direction: rtl;
padding-right: 9px;
}

.formbox input::placeholder{
  direction: rtl;
  
}
.searchbtn{
  background: #ad59ad;
  color: white;
  border: none;
  outline: none;
  border-radius: 24px;
  padding: 8px 20px;
  padding-top: 6px;
  transition: 0.5s;
}
.searchbtn:hover,
.searchbtn:focus{
  outline: none;
  background: #ce69ce;
  color: #fff!important;
}
.searchbtn a:hover{
color: #fff;
}
.erroricon{
  width: 239px;
    margin-bottom: 44px;
}
.devicebox{
flex-direction: column;
padding: 20px 16px;
margin: 35px;
background-color: #fff;
text-align: end;
width: 1120px;
}
.show{
  float: right;
}
.gozareshbox,.notfound{
  width: 85%;
}
.searchresult{
  width: 85%;
  
}
.searchcontainer{
  direction: rtl;
}

.devicecontainer {
  justify-content: center;
  width: 100%;
  /* justify-content: flex-end; */
}
.devicebox span{
  margin-top: 10px;
}
.searchresult{
  line-height: 36px;
  padding: 10px 30px;
  text-align: justify;
  /* padding-left: 89px; */
}
.nothing{
  position: relative;
  margin: auto;
  color: #ccc;
}
.searchid{
  display: flex;
  justify-content: flex-end;
}
.DeviceDetail{
  width: 85%;
}
.deviceboxdetail{
  width: 40%;
  margin: auto;
  border: 1px solid rgb(114, 114, 114);
  box-shadow: 0 2px 2px rgb(114, 114, 114);
  padding: 30px;
  line-height: 36px;
}
.errormessage{
  color: red;
  font-size: 17px;
  margin-bottom: 16px;
}
























/* navbar */
.main-nav-active{
  color: yellow;
  text-decoration: none;
}
a {
  color: #fff;
}

/* header */

.header {
  /* background-color: #000; */
  /* box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1); */
  position: fixed;
  width: 100%;
  z-index: 3;
  right: 0;
  float: right;
  height: 100vh;
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  /* border-right: 1px solid #f4f4f4; */
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  /* background-color: #f4f4f4; */
  color: yellow;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}
.menu{
  display: flex;
  flex-direction: column;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

}

.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
    position: fixed;
    top: 0;
    width: 13%;
    background-color: black;
    flex-direction: column;
    display: flex;
    /* margin-top: 160px; */
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    right: 0;
  }
  .header .menu-icon {
    display: none;
  }
}

.menuicon{
  display: flex;
}
.calendarbox{
  width: 85%;
  text-align: center;
}
.itembox{
  /* display: flex; */
  /* flex-direction: column; */
  /* width: 95%; */
  margin: auto;
  /* text-align: end; */
    padding-right: 20px;
    line-height: 36px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.selectcalendarbox{
  border-bottom: 1px solid #ccc;
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  
}
.showbtn{
  background-color: rgb(172, 8, 172);
  color: white;
    padding: 5px 20px;
    border-radius: 3px;
    transition: 0.5s;
    font-size: 15px;
    border: none;
}
.taghvimdetail{
  text-align: inherit;
  margin: auto;
}
.logoimage{
  width: 108px;
  /* margin: auto; */
}
.Calendar {
  margin: auto!important;
  margin-top: 23px!important;
  margin-bottom: 23px!important;
}
.detailcontor{
  line-height: 50px;
}
.showbill{
  background: #9e9e9e;
  padding: 3px 30px;
  border-radius: 12px;
  border: none;
  color: #fff;
  transition: 1s;
  margin-top: 30px;
}
.completePeriod{
  background-color: rgb(89, 89, 241);
  padding: 3px 30px;
  border-radius: 12px;
  border: none;
  color: #fff;
  transition: 1s;
  margin-top: 30px;
}

.billsection{
  width: 87%;
}
.logoframe{
  width: 100%;
  display: flex;
  /* background-color: yellow; */
  flex-direction: row-reverse;
}
.bill{
  width: 80%;
  margin: auto;
  padding: 10px 30px;
  background-color: #fff;
}
.showbill:hover{
  background: #b3b3b3;
}
.showbill a:hover{
text-decoration: none;
color: #fff;
}
.description{
  color: blue;
}
.detailbtn a:hover{
  text-decoration: none;
  color: #fff;
}
.erroemessage{
  color: red;
  margin-bottom: -16px;
}
.ab{
  background-color: rgb(192, 192, 230);
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  width: 80%;
  margin: auto;
  padding: 10px 30px;
  padding-bottom: 40px;
}
.gaz{
  background-color: rgb(255, 230, 183);
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  width: 80%;
  margin: auto;
  padding: 10px 30px;
  padding-bottom: 40px;
}

.bargh{
  background-color: rgb(255 238 241);
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  width: 80%;
  margin: auto;
  padding: 10px 30px;
  padding-bottom: 40px;
}










































@media only screen and (max-width: 600px) {
  .billsection {
    width: 100%;
    padding-top: 59px;
}
  .calendarbox{
    width: 100%;
  }
  .right{
    order: 1;
  }
  .left{
    order: 2;
  }
  .menu{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
  }
  .header {
    background-color: #000;
  }
.formbox{
  width: 100%;
  flex-direction: column-reverse;
}
.devicebox {
  padding: 19px 13px;
}

.namayeshcomponent{
  width: 100vw;
}
.leaflet-container{
  width: 100%;
  height: 100vh;
  /* margin-top: 198px; */
}
.menu{
  background-color: #000!important;
}
.test{
  background-color: #AAD3DF;
  margin-top: 7px;
}
.header{
  right: 0;
  float: right;
  height: 9vh;
  width: 100%;
  display: list-item;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
}
.filter{
  margin-right: 0px;
} 
.gozareshbox, .notfound {
  width: 100%;
}
.formbox{
  margin-top: 40px;
}
.main-nav{
  text-align: initial;
  direction: rtl;
}
.tanzimat{
  margin-top: 100px;
}
.formbox {
  border-bottom: none;
}
}




@media only screen and (max-width: 320px) {
.devicebox {
  flex-direction: column;
  padding: 20px 16px;
  margin: 35px;
  background-color: #fff;
  text-align: end;
  width: 268px;
}
.formbox input {
  width: 288px;
}

}